<!DOCTYPE>
<html lang="es">
    <head>
        <title>{TITULO}</title>
    </head>
    <body 
        style="
            width: 640px;
            font-family: Helvetica;
            font-size: 12px;
            margin-left : auto;
            margin-right : auto;
            padding : 0px;
        ">
        <div
            style="
                background-color: #9FCB79;
                height: 80px;
            ">
            <table>
                <tr>
                    <td style="
                        width: 90%;"
                    >
                        <h3 style="
                            font-weight: bold;
                            margin: 10px;
                            text-align: center;
                        ">SISTEMA DE ADMINISTRACIÓN JURÍDICA</h3>
                    </td>

                    <td>
                        <img src="http://juridica.devimed.com.co/img/logo.png"
                        style="
                            float: right;
                            width: 100px;
                        ">
                    </td>
                </tr>
            </table>
        </div>

        <p style="
            padding: 10px;
        ">
            {MENSAJE}
        </p>

        
		<span style="font-size: Times; font-size: 12px;"><b>Nota:</b> Este mensaje ha sido generado autom&aacute;ticamente. Por favor no lo responda</span>
        <p>Sistema de Administración Jurídica - Devimed S.A.<br>Marinilla, Antioquia</p>
        <p><a href="http://devimed.com.co">Sitio web</a></p>
    </body>
</html>